.star{
    display: flex;
    width: 20px;
    gap:10px;
    &__gray {
        filter: invert(99%) sepia(2%) saturate(5857%) hue-rotate(236deg) brightness(127%) contrast(75%);
    }
    &__colored {
        filter: invert(56%) sepia(50%) saturate(3272%) hue-rotate(326deg) brightness(98%) contrast(91%);
    }  
}

