// Cards rules
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 30px;
    gap: 30px;
    background-color: #F5F5F5;
    padding: 30px;
    border-radius: 20px;
    @media (max-width: 600px) {
        background-color: #FFFFFF;
        padding: 0;
        border-radius: 0;
    }
}

.card {
    aspect-ratio: 1/1;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
   
    &__text {
        display: flex;
        align-items: flex-end;
        color:white;
        font-weight: bold;
        padding: 0px 20px 0px 20px; 
    }  
}