// Collapse rules 

@keyframes slideOpen2 {
    from {
        transform:translateY(-50%);
        max-height: 0px;
        opacity: 0;
    }
    to {
        max-height: 300px;
        opacity: 1;
        }
}

@keyframes slideClose2 {
    from {
        max-height: 300px;
        opacity: 1;  
    }
    to {
        transform:translateY(-50%);
        opacity: 0;
        max-height: 0px;
    }
}
  

.collapse-container {
    margin-top: 10px;
}

.collapseWrapper {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;


    @media (max-width:600px) {
        margin-left: 15px;
        margin-right: 15px;
        
    }

    &__top {
        background-color: #EF6159;
        color:white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        border-radius: 5px;
        padding-left: 3%;
        padding-right: 3%;
        height:30px;
        animation-fill-mode: forwards;
    

        &__arrow {
            height:50%;
            filter:invert(100%);
            transition: transform 200ms ease-in-out ;
            
            &--open{
                transform: rotate(-180deg);
                transition: transform 200ms ease-in-out ;
            }
        }
    }

    &__textContainer {
        padding-left: 3%;
        padding-right: 3%;
        background-color: #FAFAFA;
        height:0px;
        overflow: hidden;  


        border-radius: 0px 0px 5px 5px;
        position:relative;
        bottom:10px;
        

        & > * {
            margin-top: 10px;
            margin-bottom: 0px;
            padding-top: 10px;
            padding-bottom: 10px;}

        &--closed {
            animation: slideClose2 1s ease-in-out;
            animation-fill-mode: forwards;
            height:auto;
        }

        &--open {
            animation: slideOpen2 1s ease-in-out;
            animation-fill-mode: forwards;
            height:auto;

        }
    }
}
