// Header rules

.navbar {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:600px) {
        padding:15px;
    }

    &__navlinks > * {
        margin-left: 50px;
        text-decoration: none;
        color: black;
        &:focus {
            text-decoration: underline;
        }
        @media (max-width:600px) {
            text-transform: uppercase;
            font-size: calc(1vw + 10px);
            margin-left: 20px;
        }
    }
    &__logo {
        width: calc(50px + 5vw);
    }
}