// Footer rules
.footer {
    width: 100%;
    height: 6em;
    margin-top: auto;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

