@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family:  'Montserrat';
    margin: 0;
}

// Header rules

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__navlinks > * {
        margin-left: 50px;
        text-decoration: none;
        color: black;
        &:focus {
            text-decoration: underline;
        }
        @media (max-width:600px) {
            text-transform: uppercase;
        }
    }
    &__logo {
        width: calc(50px + 5vw);
    }
}


// Footer rules
.footer {
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

